*{margin: 0;padding: 0}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body{
    background-image: radial-gradient(white,rgb(200, 0, 200));
    background-size: cover;
    height: 100vh;
}
.ssh{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
.ssh2{
    font-size: 30px;
    text-align: center;
}
.thirdsec{
    display: flex;
}
.ts1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
}
.thirdsec ul li{
    font-size: 30px;
}
.ts4{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.ff{
    display: flex;
}
.fifth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
