*{margin: 0;padding: 0}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
#arangetram{
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}
#arangetram::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right,red,yellowgreen,yellow,yellowgreen,red);
    transition: width .3s;
    margin: auto;
}
#arangetram:hover::after{
    width: 100%;
}
#invitediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#invite{
    font-size: 50px;
    font-family: monospace;
}
body{
    background-image: radial-gradient(white,rgb(200, 0, 200));
    background-size: cover;
    height: 100vh;
}
#toran img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#invitees{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 200px;
}
#invitees div{
    display: block;
    font-size: 30px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(93, 93, 93);
}
#invitees div:nth-child(2){
    min-height: 50px;
}
.fs-1{
    font-size: 40px;
    margin: 20px auto;
}
.fs-2{
    font-size: 25px;
    width: 500px;
}
#firstsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.5px;
    font-weight: bolder;
}
@media screen and (max-width:600px){
    #arangetram{
        font-size: 40px;
    }
    #invite{
        font-size: 30px;
    }
}